
@{
    ViewData["Title"] = "CustomError";
}

<h1>Uh-Oh</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <h1>@ViewData["ErrorMessage"]</h1>
    <h2>Happy to see you Too!</h2>
    <img src="~/images/sylvie.png" alt="Alternate Text" />
}
else
{
    <p>Something bad happened please try agian!</p>
    <img src="~/images/sylvie.png" alt="Alternate Text" />
}