
@{
    ViewData["Title"] = "CustomError";
}

<br /><br /><br />
<div class="float-right">
    <img class="rounded float-left" src="~/images/sylviebaby.png" alt="Cute Dragon Baby" />
    <h5>Happy to see you Too!</h5>
</div>

@if (ViewData["ErrorMesssage"] != null)
{
    <h1>@ViewData["ErrorMesssage"]</h1>
}
else
{
    <h1>Something bad happened please try agian!</h1>
}