@{
    ViewData["Title"] = "Wecome to Tiny Clothes";
}

<h1>Tiny Clothes</h1>

<h5>Tiny clothes for tiny things but NOT babies.</h5>

<div class="card" style="width: 18rem;">
    <img src="~/images/CatDressing.jpg" class="card-img-top" alt="Cat doing laundry"/>
    <div class="card-body">
        <h5 class="card-title">Our Products</h5>
        <p class="card-text">
            We sell a wide variety of tiny clothes:
            <ul>
                <li>Pet Clothes</li>
                <li>Stuffed animals Clothes</li>
            </ul>
            These are not baby clothes!!
        </p>
    </div>
</div>

<p>
    We do not accept returns or give refunds at this time. We do not guarantee your baby will 
    or wont be allergic to the material.
</p>